.details-wrapper
  max-width 960px
  width 100%
  user-select auto
  margin 0 auto

  .details-text
    width 100%
    max-width 960px
    margin 0 auto
    display none
    padding 0 2rem
    &.is-visible
      display flex
      flex-direction column
      z-index 2000
      +mq('bp-4')
        flex-direction row

    .mobile-hide
      display none
      +mq('bp-4')
        display inline-block

    .mobile-show
      font-family $raj
      text-transform uppercase
      set-type-size('x-large', true)
      padding 0
      margin 0
      font-weight 500
      display inline-block
      +mq('bp-4')
        display none

    .short-deets
      width 100%
      margin-right 0
      +mq('bp-4')
        width 13rem
        margin-right 2rem

      .jordanNumber
        font-family $raj
        font-weight 100
        font-size 6rem
        margin 0
        padding 0
        line-height 1

      .deet-catagory
        font-family $raj
        color $white
        text-transform uppercase
        border-bottom 1px solid darken(#4729fc, 20)
        padding 0 0 0.5rem 0
        set-type-size('x-small', true)
        line-height 0.75
        margin 0 0 0.5rem 0

        .deet-data
          padding 0
          margin 0
          text-transform none
          set-type-size('medium', true)
          color $white

    .long-desc
      border-left none
      padding-left 0
      width 100%
      margin-top 2rem
      +mq('bp-4')
        border-left 1px solid darken(#4729fc, 20)
        padding-left 2rem
        margin-top 0
        width calc(100% - 15rem)

      a
        background-repeat no-repeat
        transition background-position .08s ease-out
        background-image linear-gradient(180deg,transparent 0,darken(#4729fc, 20) 0)
        background-position 0 1em
        box-shadow none
        padding 0
        border-bottom none
        text-decoration none
        color $white
        pointer-events all
        &:hover
          background-position 0 0em

      .jordanName
        font-family $raj
        text-transform uppercase
        set-type-size('x-large', true)
        padding 0
        margin 0

      .jordanInfo
        font-family $atlas
        color $white
        padding 0
        margin 0
        set-type-size('root', true)
        line-height 2
        +mq('bp-5')
          set-type-size('medium', true)
          line-height 2
