/* CUSTOM STORY STYLE */
body
  overflow hidden
  height 100vh

  #content
    width 100%
    height 100vh
    z-index 999
    padding-top 5rem

    .details-text
      display flex
      flex-direction row
      justify-content space-between
      max-width 960px
      margin 0 auto

      .short-deets
        width 13rem
        margin-right 2rem

        .jordanNumber
          font-family $raj
          font-weight 100
          font-size 6rem
          margin 0
          padding 0
          line-height 1

        .deet-catagory
          font-family $raj
          color $gray
          text-transform uppercase
          border-bottom 1px solid $off-white
          padding 0 0 0.5rem 0
          set-type-size('x-small', true)
          line-height 0.75
          margin 0 0 0.5rem 0

          .deet-data
            padding 0
            margin 0
            text-transform none
            set-type-size('medium', true)
            color $off-black

      .long-desc
        width calc(100% - 15rem)
        border-left 1px solid $off-white
        padding-left 2rem

        .jordanName
          font-family $raj
          text-transform uppercase
          set-type-size('x-large', true)
          padding 0
          margin 0

        .jordanInfo
          font-family $atlas
          color $gray-dark
          padding 0
          margin 0

    .jordan
      max-width 960px
      margin 0 auto
      width 100%
      height 60%
      position relative
      display flex
      flex-direction column

      .shoe-wrapper

        .images

          .details-overlay
            position absolute
            width 100%
            opacity 0

        svg
          position absolute
          width 100%

          g
            display none

          #jordan1
            display block

          path
            opacity 1
            fill #000000

          .st0
            fill white

          .st1
            fill #D81F28

          .st2
            fill #58595B
