/* CUSTOM STORY STYLE */
body
  background-color #23c29c
  overflow hidden
  height 100vh

  .skewed-bg
    background-color #1cb794
    transform skew(0deg, -30deg)
    position absolute
    height 100vh
    width 100%
    z-index 1

  #content
    width 100%
    height 100vh
    z-index 999
    position absolute
    padding-top 5rem

  .jordan
    max-width 960px
    margin 0 auto
    width 100%
    position relative

    .details-text
      display flex
      flex-direction row
      justify-content space-between

      p
        font-family $atlas

    .details-overlay
      position absolute
      top -77px
      width 105%
      opacity 0

    .third
      left -37px
      top -71px

    svg
      position absolute
      width 100%

      g
        display none

      #jordan1
        display block

      path
        opacity 1
        fill #000000

      .st0
        fill white

      .st1
        fill #D81F28

      .st2
        fill #58595B
