/* CUSTOM STORY STYLE */
.jordan
  max-width 960px
  margin 0 auto
  border 1px solid black

  #jordan2
    display none

  path
    opacity 0.2

  #j1_x5F_baseWhite
    fill purple
    display block
    opacity 1
