/* CUSTOM STORY STYLE */
body
	background-color #4729fc
	color $white

	.content-bg
		position absolute
		width 100%
		z-index 1
		height 100vh
		overflow hidden
		height calc(100vh + 10rem)

		.skewed-bg
			background-color darken(#4729fc, 3)
			transform skew(0deg, -30deg)
			position absolute
			height calc(100vh + 10rem)
			width 100%
			z-index 1

		.number-bg
			position absolute
			width 100%
			z-index 2

			.big-num
				font-size 25rem
				user-select none
				margin -10% 5% 0 0
				letter-spacing -3rem
				padding 0
				text-align right
				font-family $raj
				color darken(#4729fc, 7)
				+mq('bp-4')
					font-size 40rem
