/* CUSTOM STORY STYLE */
body
	background-color #4729fc
	color $white

	.skewed-bg
		background-color darken(#4729fc, 3)
		transform skew(0deg, -30deg)
		position absolute
		height 100vh
		width 100%
		z-index 1

	.number-bg
		position absolute
		height 100vh
		width 100%
		z-index 2

		.big-num
			font-size 25rem
			user-select none
			position relative
			top -10%
			right 5%
			letter-spacing -3rem
			padding 0
			margin 0
			text-align right
			font-family $raj
			color darken(#4729fc, 7)
			+mq('bp-4')
				font-size 40rem
