<div class='jordan'>
	<div class='shoe-wrapper'>
		@@include('jordanALL_shapes-01.svg')
		<div class='images'>
			<img id='j1-image' class='details-overlay' src='assets/images/jordan1.png'>
			<img id='j2-image' class='details-overlay' src='assets/images/jordan2.png'>
			<img id='j3-image' class='details-overlay' src='assets/images/jordan3.png'>
			<img id='j4-image' class='details-overlay' src='assets/images/jordan4.png'>
			<img id='j5-image' class='details-overlay' src='assets/images/jordan5.png'>
			<img id='j6-image' class='details-overlay' src='assets/images/jordan6.png'>
			<img id='j7-image' class='details-overlay' src='assets/images/jordan7.png'>
			<img id='j8-image' class='details-overlay' src='assets/images/jordan8.png'>
			<img id='j9-image' class='details-overlay' src='assets/images/jordan9.png'>
			<img id='j10-image' class='details-overlay' src='assets/images/jordan10.png'>
			<img id='j11-image' class='details-overlay' src='assets/images/jordan11.png'>
			<img id='j12-image' class='details-overlay' src='assets/images/jordan12.png'>
			<img id='j13-image' class='details-overlay' src='assets/images/jordan13.png'>
			<img id='j14-image' class='details-overlay' src='assets/images/jordan14.png'>
			<img id='j15-image' class='details-overlay' src='assets/images/jordan15.png'>
			<img id='j16-image' class='details-overlay' src='assets/images/jordan16.png'>
			<img id='j17-image' class='details-overlay' src='assets/images/jordan17.png'>
			<img id='j18-image' class='details-overlay' src='assets/images/jordan18.png'>
			<img id='j19-image' class='details-overlay' src='assets/images/jordan19.png'>
			<img id='j20-image' class='details-overlay' src='assets/images/jordan20.png'>
			<img id='j21-image' class='details-overlay' src='assets/images/jordan21.png'>
			<img id='j22-image' class='details-overlay' src='assets/images/jordan22.png'>
			<img id='j23-image' class='details-overlay' src='assets/images/jordan23.png'>
			<img id='j24-image' class='details-overlay' src='assets/images/jordan24.png'>
			<img id='j25-image' class='details-overlay' src='assets/images/jordan25.png'>
			<img id='j26-image' class='details-overlay' src='assets/images/jordan26.png'>
			<img id='j27-image' class='details-overlay' src='assets/images/jordan27.png'>
			<img id='j28-image' class='details-overlay' src='assets/images/jordan28.png'>
			<img id='j29-image' class='details-overlay' src='assets/images/jordan29.png'>
			<img id='j30-image' class='details-overlay' src='assets/images/jordan30.png'>
			<img id='j31-image' class='details-overlay' src='assets/images/jordan31.png'>
			<img id='j32-image' class='details-overlay' src='assets/images/jordan32.png'>
		</div>
	</div>
</div>
<div class='details-text'>
	<div class='short-deets'>
		<p class='jordanNumber'>01</p>
		<p class='jordanDate deet-catagory'>Release date <span class='date deet-data'>April 1985</span></p>
		<p class='jordanPrice deet-catagory'>Original price <span class='price deet-data'>$65</span></p>
		<p class='jordanDesigner deet-catagory'>Designer <span class='designer deet-data'>Peter Moore</span></p>
	</div>
	<div class='long-desc'>
		<p class='jordanName'>Air Jordan I</p>
		<p class='jordanInfo'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum nulla vitae tincidunt porttitor. Donec ex turpis, gravida sit amet risus sit amet, hendrerit sagittis quam. Mauris pellentesque eros at magna varius, ac vestibulum felis elementum. Etiam in consequat nulla. Curabitur sagittis, ex nec aliquam suscipit, nibh urna molestie nisl, et fermentum turpis urna sit amet sapien. Fusce fermentum eros eu porta semper.</p>
	</div>
</div>
