<div class='jordan'>
	<div class='shoe-wrapper'>
		@@include('jordanALL_shapes-01.svg')
		<div class='images'>
			<img id='j1-image' class='details-overlay' src='assets/images/jordan1.png'>
			<img id='j2-image' class='details-overlay' src='assets/images/jordan2.png'>
			<img id='j3-image' class='details-overlay' src='assets/images/jordan3.png'>
			<img id='j4-image' class='details-overlay' src='assets/images/jordan4.png'>
			<img id='j5-image' class='details-overlay' src='assets/images/jordan5.png'>
			<img id='j6-image' class='details-overlay' src='assets/images/jordan6.png'>
			<img id='j7-image' class='details-overlay' src='assets/images/jordan7.png'>
			<img id='j8-image' class='details-overlay' src='assets/images/jordan8.png'>
			<img id='j9-image' class='details-overlay' src='assets/images/jordan9.png'>
			<img id='j10-image' class='details-overlay' src='assets/images/jordan10.png'>
			<img id='j11-image' class='details-overlay' src='assets/images/jordan11.png'>
			<img id='j12-image' class='details-overlay' src='assets/images/jordan12.png'>
			<img id='j13-image' class='details-overlay' src='assets/images/jordan13.png'>
			<img id='j14-image' class='details-overlay' src='assets/images/jordan14.png'>
			<img id='j15-image' class='details-overlay' src='assets/images/jordan15.png'>
			<img id='j16-image' class='details-overlay' src='assets/images/jordan16.png'>
			<img id='j17-image' class='details-overlay' src='assets/images/jordan17.png'>
			<img id='j18-image' class='details-overlay' src='assets/images/jordan18.png'>
			<img id='j19-image' class='details-overlay' src='assets/images/jordan19.png'>
			<img id='j20-image' class='details-overlay' src='assets/images/jordan20.png'>
			<img id='j21-image' class='details-overlay' src='assets/images/jordan21.png'>
			<img id='j22-image' class='details-overlay' src='assets/images/jordan22.png'>
			<img id='j23-image' class='details-overlay' src='assets/images/jordan23.png'>
			<img id='j24-image' class='details-overlay' src='assets/images/jordan24.png'>
			<img id='j25-image' class='details-overlay' src='assets/images/jordan25.png'>
			<img id='j26-image' class='details-overlay' src='assets/images/jordan26.png'>
			<img id='j27-image' class='details-overlay' src='assets/images/jordan27.png'>
			<img id='j28-image' class='details-overlay' src='assets/images/jordan28.png'>
			<img id='j29-image' class='details-overlay' src='assets/images/jordan29.png'>
			<img id='j30-image' class='details-overlay' src='assets/images/jordan30.png'>
			<img id='j31-image' class='details-overlay' src='assets/images/jordan31.png'>
			<img id='j32-image' class='details-overlay' src='assets/images/jordan32.png'>
		</div>
	</div>
</div>
