<div class='jordan'>
	@@include('jordanALL_shapes-01.svg')
	<img id='j1-image' class='details-overlay first-overlay' src='assets/images/jordan1.png'>
	<img id='j2-image' class='details-overlay' src='assets/images/jordan2.png'>
	<img id='j3-image' class='details-overlay third' src='assets/images/jordan3.png'>
</div>
